.categories {
    width: 100%;
    .categories_items {
        width: 100%;
        padding: 80px 0;
        .categories_title {
            @include title-style;
        }
        .categories_content {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
            .categories_item {
                border-radius: 20px;
                background-color: $main-gray;
                @include up-animation;
                .item_img {
                    width: 100%;
                    border-radius: 20px 20px 0 0;
                }
                .item_title {
                    padding: 20px 30px 25px 30px;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
}