@mixin fill-btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: $main-purple;
    border: 2px solid $main-purple;
    font-weight: 600;
    color: #fff;
    transition: 0.3s all;
    &:hover {
        transition: 0.3s all;
        background: none;
    }
}

@mixin subtitle-style {
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 10px;
    color: #fff;
    @media (max-width: 992px) {
        font-size: 16px;
    }
}

@mixin owner-style {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

@mixin up-animation {
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
        transition: 0.3s all;
        transform: translate(5px, -5px);
        box-shadow: -7px 7px 15px 5px #000;
    }
}

@mixin title-style {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    margin: 0;
    color: #fff;
    @media (max-width: 992px) {
        font-size: 28px;
    }
}

@mixin empty-btn-style {
    padding: 19px 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: none;
    border: 2px solid $main-purple;
    color: #fff;
    i {
        color: $main-purple;
    }
    transition: 0.3s all;
    &:hover {
        transition: 0.3s all;
        background-color: $main-purple;
        color: #fff;
        i {
            color: #fff;
        }
    }
}

@mixin heading-style {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .header_titles {
        h2 {
            @include title-style;
        }
        div {
            @include subtitle-style;
        }
    }
    button {
        @include empty-btn-style;
    }
}

@mixin form-style {
    min-height: 60px;
    width: 100%;
    display: flex;
    position: relative;
    input {
        width: 100%;
        border-radius: 20px;
        height: 60px;
        border: none;
        outline: none;
        padding-left: 20px;
    }
    button {
        @include fill-btn-style;
        height: 60px;
        padding: 19px 50px;
        position: absolute;
        right: 0;
        &:hover {
            color: $main-purple;
        }
    }
}
